body{
    background-color: khaki;
}

header {
    color: rgb(150, 52, 196);
    font-size: 30px;
    background:rgb(53, 52, 52);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    border-collapse: collapse;
    border: 3px solid rgb(3, 2, 2);
    outline-width: 11px;
    
}
  
tr:nth-child(odd) {
    background-color: rgb(8, 33, 145);
    color: greenyellow;
}
  
th, td {
    width: 150px;
    border-bottom: 1px solid #ddd;
}

.container {width:960px;
    margin:0 auto;
    padding:10px 25px;
    border:3px solid rgb(3, 2, 2);
    background:rgb(90, 53, 177); 
}

.cell{
    text-align: center;
}

.addInfoButton{
    float: right;
}

.monthlyPost{
    float: right;
}

.deleteButton{
    float: right;
    color: red;
}
